@define-color background #080808;
@define-color foreground #323437;

* {
	font-size: 14px;
	font-family: Iosevka Nerd Font;
	padding: 0;
	margin: 0;
	min-height: 0;
}

window#waybar {
	background: @background;
	color: #bdbdbd;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: @foreground;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: @background;
	background: @foreground;
}

#workspaces {
	background: @foreground;
}
#clock.1 {
	background: @foreground;
}
#clock.2 {
	background: @foreground;
}
#clock.3 {
	background: @foreground;
}
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
	background: @foreground;
}

#workspaces button {
	padding: 0 2px;
	color: #bdbdbd;
}
#workspaces button.focused {
	color: #74b2ff;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: @foreground;
	border: @foreground;
	padding: 0 3px;
}
#mode {
	color: #aa0000;
}
#pulseaudio {
	color: #80a0ff;
	background: @foreground;
}
#memory {
	color: #8cc85f;
	background: @foreground;
}
#cpu {
	color: #cf87e8;
	background: @foreground;
}
#battery {
	color: #859900;
	background: @foreground;
}
#disk {
	color: #e3c78a;
	background: @foreground;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 10px;
	background: @foreground;
}
